html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 8px 16px;
}

.appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.appbar a {
  text-decoration: none;
  color: inherit;
}

.github-link {
  display: none;
}

@media (min-width: 600px) {
  .github-link {
    display: inline-block;
  }
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px;
  justify-items: center;
  padding: 8px 0;
}

.pokemon {
  position: relative;
  text-align: center;
}

.pokemon .fav-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.pokemon-thumbnail {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.toolbar {
  margin: 16px 0;
  text-align: center;
}

.loading-text {
  visibility: hidden;
}

#load-pokemon-btn:disabled + .loading-text {
  visibility: visible;
}

.toolbar .loading-text {
  bottom: 40px;
}
